<div class="center-items">
    <mat-card class="example-card">
        <mat-card-header>
            <div class="center-item header-title">Login Page</div>
        </mat-card-header>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" value="">
          </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter password" value="">
          </mat-form-field>
          
      </form>
      <button routerLink="/register" mat-button color="primary">Register Account</button>
      <br/>
      <br/>
      <button class="button-class" (click)="setShow(true)" routerLink="/dashboard" mat-raised-button color="primary">Login</button>
      <br/>
      <br/>
      <!-- <button routerLink="/login" mat-raised-button color="primary"></button> -->
      <button routerLink="/forgot-password" mat-button>Forgot Password?</button>
    </mat-card>
</div>
