<i class="fa-solid fa-bars"></i>
<div class=" center-items">
    <!-- <div class="center-items">
        <h1>Home Page</h1>
    </div> -->
    
    <mat-drawer-container class="example-container" autosize>
         <div class="center-items">
            <h1>Solution Links</h1><br><br>
        </div>
        <div class="center-items">
            <h3>Click the button on the left side to show sidebar to navigate in to different social sites.</h3>
        </div>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Route to Different Pages</p>
          <button (click)="gotoFb('facebook')" mat-raised-button>Facebook</button> <br><br>
          <button (click)="gotoFb('twitter')" mat-raised-button>Twitter</button> <br><br>
          <button (click)="gotoFb('instagram')" mat-raised-button>Instagram</button> <br><br>
          <button (click)="gotoFb('telegram')" mat-raised-button>Telegram</button> <br><br>
          <button (click)="gotoFb('tiktok')" mat-raised-button>Tiktok</button> <br><br>
          <button (click)="gotoFb('linkedin')" mat-raised-button>Linkedin</button> <br><br>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <!-- <button type="text" mat-button (click)="drawer.toggle()">
            More Navigations
          </button> -->
          <!-- <i class="fa-solid fa-bars">bars</i> -->
          <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
          <button class="menu_button"(click)="drawer.toggle()" mat-icon-button color="black" aria-label="Example">
            <mat-icon>menu</mat-icon>
          </button>
          <button class="add_button" (click)="openDialog('1000ms', '500ms')" mat-icon-button color="black" aria-label="Example">
            <mat-icon>add</mat-icon>
          </button>
        </div>
       <div class="center-items">
        <ul class="heroes">
          <li *ngFor="let link of links">
            <button [class.selected]="link === selectedLink" (click)="onSelect(link)" type="button">
              <span class="badge">{{link.id}}</span>
              <span class="name">{{link.name}}</span>
            </button>
            <div class="action-buttons center-items">
              <button  (click)="onDelete(link.id)" class="update-button">Delete</button>
              <button class="delete-button">Update</button>
            </div>
          </li>
        </ul>
       </div>
       <!-- <div *ngIf="selectedLink">
        <h2>{{selectedLink.problem | uppercase}} Details</h2>
        <div>id: {{selectedLink.id}}</div>
        <div>
          <label for="hero-name">Hero name: </label>
          <input id="hero-name" [(ngModel)]="selectedLink.problem" placeholder="name">
        </div>
      </div> -->
      <div class="center-items">
        <h1>Add Solution Link</h1>
      </div>
      <div class="center-items">
        <form (ngSubmit)="onSubmit(dataForm.value)" #dataForm="ngForm" >
          <input 
          ngModel 
          name="name"
          id="name" 
          placeholder="name"
          ><br/><br/>
          <input
          ngModel  
          name="image_link"
          id="image-link" 
          placeholder="image link"
          ><br/><br/>
          <input
          ngModel  
          name="price"
          id="price" 
          placeholder="price"
          ><br/><br/>
          <button type="submit">Add</button>
        </form>
      </div>
      </mat-drawer-container>
</div>