<div class="center-items">
    <mat-card class="example-card">
        <mat-card-header>
            <div class="center-item header-title">Enter New Password</div>
        </mat-card-header>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter New Password" value="">
          </mat-form-field>
          <br/>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Retype password" value="">
          </mat-form-field>
          
      </form>
      <button routerLink="/login" mat-button color="primary">Go to Login</button>
      <br/>
      <br/>
      <button class="button-class" routerLink="/register" mat-raised-button color="primary">Update Password</button>
     
    </mat-card>
</div>